﻿@model List<CbuPortal.Models.DuyuruTipleri>
@{
    ViewBag.Title = "DuyuruEkle";
    Layout = null;
}
<div class="post-popup job_post">
    <div class="post-project">
        <h3>İş ve Staj İlanı</h3>
        <div class="post-project-fields">
            @using (Html.BeginForm("DuyuruEkleis", "Duyuru", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <input placeholder="Duyuru Başlığını Giriniz" name="Baslik" type="text">
                    </div>
                    <div class="col-lg-12">
                        <input placeholder="Şirket Adı Giriniz" name="SirketAdi" type="text">
                    </div>
                    <div class="col-lg-12">
                        <select name="SirketSehir">
                            <option value="0">------</option>
                            <option value="Adana">Adana</option>
                            <option value="Adıyaman">Adıyaman</option>
                            <option value="Afyonkarahisar">Afyonkarahisar</option>
                            <option value="Ağrı">Ağrı</option>
                            <option value="Amasya">Amasya</option>
                            <option value="Ankara">Ankara</option>
                            <option value="Antalya">Antalya</option>
                            <option value="Artvin">Artvin</option>
                            <option value="Aydın">Aydın</option>
                            <option value="Balıkesir">Balıkesir</option>
                            <option value="Bilecik">Bilecik</option>
                            <option value="Bingöl">Bingöl</option>
                            <option value="Bitlis">Bitlis</option>
                            <option value="Bolu">Bolu</option>
                            <option value="Burdur">Burdur</option>
                            <option value="Bursa">Bursa</option>
                            <option value="Çanakkale">Çanakkale</option>
                            <option value="Çankırı">Çankırı</option>
                            <option value="Çorum">Çorum</option>
                            <option value="Denizli">Denizli</option>
                            <option value="Diyarbakır">Diyarbakır</option>
                            <option value="Edirne">Edirne</option>
                            <option value="Elazığ">Elazığ</option>
                            <option value="Erzincan">Erzincan</option>
                            <option value="Erzurum">Erzurum</option>
                            <option value="Eskişehir">Eskişehir</option>
                            <option value="Gaziantep">Gaziantep</option>
                            <option value="Giresun">Giresun</option>
                            <option value="Gümüşhane">Gümüşhane</option>
                            <option value="Hakkâri">Hakkâri</option>
                            <option value="Hatay">Hatay</option>
                            <option value="Isparta">Isparta</option>
                            <option value="Mersin">Mersin</option>
                            <option value="İstanbul">İstanbul</option>
                            <option value="İzmir">İzmir</option>
                            <option value="Kars">Kars</option>
                            <option value="Kastamonu">Kastamonu</option>
                            <option value="Kayseri">Kayseri</option>
                            <option value="Kırklareli">Kırklareli</option>
                            <option value="Kırşehir">Kırşehir</option>
                            <option value="Kocaeli">Kocaeli</option>
                            <option value="Konya">Konya</option>
                            <option value="Kütahya">Kütahya</option>
                            <option value="Malatya">Malatya</option>
                            <option value="Manisa">Manisa</option>
                            <option value="Kahramanmaraş">Kahramanmaraş</option>
                            <option value="Mardin">Mardin</option>
                            <option value="Muğla">Muğla</option>
                            <option value="Muş">Muş</option>
                            <option value="Nevşehir">Nevşehir</option>
                            <option value="Niğde">Niğde</option>
                            <option value="Ordu">Ordu</option>
                            <option value="Rize">Rize</option>
                            <option value="Sakarya">Sakarya</option>
                            <option value="Samsun">Samsun</option>
                            <option value="Siirt">Siirt</option>
                            <option value="Sinop">Sinop</option>
                            <option value="Sivas">Sivas</option>
                            <option value="Tekirdağ">Tekirdağ</option>
                            <option value="Tokat">Tokat</option>
                            <option value="Trabzon">Trabzon</option>
                            <option value="Tunceli">Tunceli</option>
                            <option value="Şanlıurfa">Şanlıurfa</option>
                            <option value="Uşak">Uşak</option>
                            <option value="Van">Van</option>
                            <option value="Yozgat">Yozgat</option>
                            <option value="Zonguldak">Zonguldak</option>
                            <option value="Aksaray">Aksaray</option>
                            <option value="Bayburt">Bayburt</option>
                            <option value="Karaman">Karaman</option>
                            <option value="Kırıkkale">Kırıkkale</option>
                            <option value="Batman">Batman</option>
                            <option value="Şırnak">Şırnak</option>
                            <option value="Bartın">Bartın</option>
                            <option value="Ardahan">Ardahan</option>
                            <option value="Iğdır">Iğdır</option>
                            <option value="Yalova">Yalova</option>
                            <option value="Karabük">Karabük</option>
                            <option value="Kilis">Kilis</option>
                            <option value="Osmaniye">Osmaniye</option>
                            <option value="Düzce">Düzce</option>
                        </select>
                    </div>
                    <div class="col-lg-12">
                        <input placeholder="İş pozisyonu(Stajyer,FullStack Developer...)" name="SirketPozisyonu" type="text">
                    </div>

                    <div class="col-lg-12">
                        <span style="margin-bottom:5px">Duyuru Resmi(Tercihen)</span>
                        <br />
                        <div>
                            <input style=" padding: 10px 15px;height: 40px;" type="file" name="file" accept=".jpeg,.jpg,.png">
                        </div>
                    </div>
                    <select style="display:none" name="DuyuruTipi">
                        <option value="8"></option>
                    </select>
                    @if (Session["rol"].ToString() == "Akademisyen")
                    {
                        <span style="margin-left: 15px;">Duyurunun yorumları açılsın mı ?</span>
                        <div class="col-lg-12" style="border: 1px solid #e5e5e5;padding: 2px;margin: 0 18px 10px;max-width: 94%;">
                            <div style="display:block">
                                <label class="radio-inline"><input style="height:25px" type="radio" name="yorumDurumu" id="yorumAcik" value="Açık">Açık</label>
                                <label class="radio-inline"><input style="height:25px" type="radio" name="yorumDurumu" id="yorumKapali" value="Kapalı">Kapalı</label>
                            </div>
                        </div>
                    }

                    <div class="col-lg-12">
                        <textarea name="Aciklama" placeholder="Duyuru İçeriğini Giriniz"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" onclick="basariylaEklendi" value="post">Duyuruyu Yap</button></li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div><!--post-project end-->
</div><!--post-project-popup end-->

<script type="text/javascript">
    function basariylaEklendi() {
        swal({
            title: "BAŞARILI",
            text: "Duyurunuz Başarıyla Eklendi",
            timer: 3000,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        })
    };
</script>

