@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


                       <div class="posts-section">

                                @{

                                    Html.RenderAction("AnaSayfaSosyal", "Home");
                                }


                            </div>
                 
