
@{
    Layout = null;
}

@foreach (var item in Model)
{
<ul class="skill-tags">
    <li><a href="#" title="">@item.SirketAdi</a></li>
    <li><a href="#" title="">@item.SirketSehir</a></li>
    <li><a href="#" title="">@item.SirketPozisyonu</a></li>
</ul>
}
